* {
    margin: 0;
    padding: 0;
    overflow: none;
}

body {
    opacity: 0;
    position: fixed;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    box-shadow: inset 0 0 100px black;
    width: 100%;
    height: 100%;
}

body.charger {
    opacity: 1;
}

#canvas1 {
    position:absolute;
    pointer-events: none;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#affichagePing {
    position: absolute;
    top: 0;
    right: 0;
}

#powerUpDisplay {
    position: absolute;
    display: flex;
    top: 0;
    height: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: none;
    user-select: none;
}

#powerUpDisplay img {
    margin: 20px;
    height: 100%;
}